#cards-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#projects-section-title {
  color: #ED6112;
  text-align: center;
  margin: 0;
}

#cards-selection button {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#cards-selection button svg {
  width: 5vh;
  height: 5vh;
}

#projects-section {
  margin-top: 1em;
}

/* .light-svg {
  filter: invert(7%) sepia(39%) saturate(4457%) hue-rotate(236deg) brightness(82%) contrast(118%);
}

.dark-svg {
  filter: invert(61%) sepia(67%) saturate(7074%) hue-rotate(2deg) brightness(105%) contrast(86%);
} */
