@media screen and (min-width: 320px) and (max-width: 800px) {
  #abilities h3 {
    color: #ED6112;
    margin: 0;
  }

  .light-abilities {
    color: #01002E;
  }

  .dark-abilities {
    color: white;
  }

  #abilities ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 801px) {
  #abilities {
    display: flex;
    justify-content: center;
  }

  #abilities h3 {
    color: #ED6112;
    margin: 0;
  }

  #abilities ul {
    margin-bottom: 0;
  }

  .light-abilities {
    color: #01002E;
  }

  .dark-abilities {
    color: white;
  }

  #soft ul {
    margin-bottom: 0;
  }
}

