@media screen and (min-width: 320px) and (max-width: 800px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  .dark-page {
    background-color: #01002E;
  }

  .light-page {
    background-color: white;
  }
}

@media screen and (min-width: 801px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  .dark-page {
    background-color: #01002E;
  }

  .light-page {
    background-color: white;
  }
}
