@media screen and (min-width: 320px) and (max-width: 800px) {
  body {
  margin: 0;
  font-family: Helvetica;
  }

  .dark-app {
    background-color: #01002E;
  }

  .light-app {
    background-color: white;
  }
}

@media screen and (min-width: 801px) {
  body {
    margin: 0;
    }

  .dark-page {
    background-color: #01002E;
  }

  .light-page {
    background-color: white;
  }
}